// Responsive stuff
$desktop = 1280px
$mobile = 480px

$module = 16px


// Fonts
$fontSize = 16px
$lineHeight = 1.4
$baseLine = $fontSize * $lineHeight
$fontFamily = 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif


// Colors
$bodyBackground = #f2f2f2
$mutedColor = #999
$borderColor = #eaeaea
$accentColor = #e00

$linksColor = #186baa

// Other
$animationSpeed = .2s