.channel-program
	position relative
	display table
	padding-bottom $module*0.5
	cursor pointer
	
	&__name,
	&__time
		display table-cell
		
		.channel-program:hover &
			color $accentColor
	
	&__name
		padding-right $module
	
	&__time
		size($module*3.5, auto)
		padding-right $module
		text-align right
	
	&__popup
		position absolute
		z-index 1
		width 20rem
		opacity 0
		visibility hidden
		transition opacity $animationSpeed, visibility $animationSpeed
		
		+below($desktop)
			display none
		
		&--visible
			opacity 1
			visibility visible
