.time-nav
	margin-left $module * -1
	margin-bottom ($module + 1px) * -1
	padding $module 0 0
	font-size 0


	&__item
		display inline-block
		padding 0 $module


	&__link
		display block
		font-size $fontSize*1.25
		line-height $fontSize*1.25 + $module*2
		border-bottom 3px solid transparent
		
		&--active
			color $accentColor
			border-bottom-color $accentColor
			
			+below($desktop)
				border-bottom-color transparent 
