.header
	border-bottom 1px solid $borderColor
  
	&__top
		font-size 0
	

	&__title,
	&__subtitle
		display inline-block
		padding-bottom $module*0.5
	

	&__title
		padding-right $module
		font-size 2.5rem
		
		+below($desktop)
			font-size 2rem
	

	&__subtitle
		font-size 1.3rem
		color $mutedColor
		letter-spacing .05em